<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>사원목록</title>
	<script th:inline="javascript">
		function getCtx() {
			return /*[[${#httpServletRequest.getContextPath()}]]*/'';
		}
	</script>
	<Style>
		th,
		td {
			text-align: center;
		}
	</Style>
</head>

<body>
	<button type="button" th:onclick="|location.href='@{/empInsert}'|">등록</button>
	<table>
		<thead>
			<tr>
				<th>사원번호</th>
				<th>이름</th>
				<th>업무</th>
				<th>입사일자</th>
			</tr>
		</thead>
		<tbody>
			<!-- status는 생략 가능 / 경로는 @{} 로 넣어야함 -->
			<tr th:each="emp, index : ${empList}" th:onclick="|location.href='@{/empInfo(employeeId=${emp.employeeId})}'|">
				<td th:text="${emp.employeeId}" />
				<td><span th:text="${emp.firstName}" />,
					<span th:text="${emp.lastName}" />
				</td>
				<td th:text="${emp.jobId}" />
				<!-- #dates.format를 통해서 date 포맷 변경가능 -->
				<td th:text="${#dates.format(emp.hireDate, 'yyyy년 MM월 dd일')}" />
			</tr>
		</tbody>
	</table>

</body>

</html>